<%= form_with model: @patient do |form| %>
  <div class ="mb-5">
  <p>First Name</p>
  <%= form.text_field :first_name %><br>

  <p>Last Name</p>
  <%= form.text_field :last_name %><br>

  <p>Age</p>
  <%= form.number_field :age %><br>

  <p>Email</p>
  <%= form.email_field :email %>
  </div>
  <%= form.submit(class: "btn btn-success") %>
<% end %>
