<div class="row justify-content-center">
  <div class="col-6">
    <table class="table my-2">
      <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
          <tr>
            <td><%= link_to patient.id, patient %></td>
            <td><%= patient.first_name %></td>
            <td><%= patient.last_name %></td>
            <td><%= patient.email %></td>
            <td>
              <% if can? :read, DiagnosisItem %>
              <p>
                <button class="btn btn-outline-success lol"  id = "<%= patient.id %>"  type="button" data-bs-toggle="collapse" data-bs-target="#id<%= patient.id %>" aria-expanded="false" aria-controls="id<%= patient.id %>">
                        Show diagnosis items
                </button>
              </p>
              <div class="collapse load" id="id<%= patient.id %>">
                <div class="card card-body", id="show-items<%= patient.id %>">
                </div>
              </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if can? :create, Patient %>
      <%= link_to "New Patient", new_patient_path(@patient), class: "btn btn-success" %>
    <% end %>
  </div>
</div>




